* {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #2E1760 ;
  margin: 0;
}

.contenedor {
  position: absolute;
  background-color: #171738;
  width: 30rem;
  height: 35rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 12px 5px 0px #3423A6;

  /* border: solid 1px #ce00c7; */
}

.elementos {
  position: relative;
}

.elementos #pantalla {
  width: 90%;
  height: 70px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #3423A6;
  font-size: 30px;
  font-weight: 500;
  text-align: right;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 90%;
  height: 200px;
  margin: auto;
  
}

.botones input {
    width: 100%;
    height: 60px;
    font-size: 16px;
    margin-top: 9px;
    margin-bottom: 1px; 
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #3423A6;
}

.botones input:nth-child(17){
    grid-column: 1/5;
}

input:focus{
  outline: none;
}
